# This is a system unit for launching seva-launcher
# with the user configured here.

[Unit]
Description=Seva Launcher Service

# Make sure we are started after weston & docker is up.
Requires=emptty.service docker.socket
After=docker.service
PartOf=docker.service

[Service]
Type=simple
Environment=XDG_RUNTIME_DIR=/run/user/1000
Environment=QT_QPA_PLATFORM=wayland
Environment=WAYLAND_DISPLAY=wayland-1
EnvironmentFile=/etc/environment
ExecStart=/bin/sh -c '/usr/bin/seva-launcher-aarch64 -no-browser=true'
Restart=on-failure

User=root
Group=root

# Fail to start if not controlling the tty.
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=graphical.target multi-user.target
