[Unit]
Description=startwlansta
After=startwlanap.service
Requires=startwlanap.service

[Service]
Type=oneshot
ExecStart=/usr/share/wl18xx/startwlansta.sh
StandardOutput=journal+console
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
