# This is a system unit for launching ti-apps-launcher with auto-login as the
# user configured here.

[Unit]
Description=ti-apps-launcher service

[Service]
# Requires systemd-notify.so Weston plugin.
Type=simple
EnvironmentFile=/etc/environment
EnvironmentFile=/etc/profile
Environment=QT_QPA_PLATFORM=eglfs
Environment=QT_QPA_EGLFS_KMS_CONFIG=/etc/eglfs.conf
ExecStartPre=/bin/sh -c 'source /etc/profile ; for i in $(find /sys/devices/platform -name "card?"); do export D=${i:0-1}; if [[ "$i" == *"dss"* ]]; then echo -e "{\n\t\x5c\x22device\x5c\x22: \x5c\x22/dev/dri/card${i:0-1}\x5c\x22,\n\t\x5c\x22hwcursor\x5c\x22: false\n}\n" > /etc/eglfs.conf ; fi; done'
ExecStart=/bin/sh -c 'sleep 5 ; source /etc/profile ; QT_QPA_EGLFS_KMS_CONFIG=/etc/eglfs.conf /usr/bin/ti-apps-launcher -platform eglfs'

# The user to run Weston as.
User=root
Group=root

# Fail to start if not controlling the tty.
StandardOutput=journal
StandardError=journal

[Install]
# Note: If you only want weston to start on-demand, remove this line with a
# service drop file
WantedBy=graphical.target multi-user.target
