[Unit]
Description=startwlansta

[Service]
Type=idle
ExecStart=/usr/bin/startwlansta.sh
StandardOutput=journal+console
RemainAfterExit=yes


[Install]
WantedBy=multi-user.target

