# This is a system unit for launching ti-apps-launcher with auto-login as the
# user configured here.

[Unit]
Description=ti-apps-launcher service

# Make sure we are started after logins are permitted.
Requires=emptty.service docker.socket
After=docker.service

[Service]
# Requires systemd-notify.so Weston plugin.
Type=simple
Environment=XDG_RUNTIME_DIR=/run/user/1000
Environment=QT_QPA_PLATFORM=wayland
Environment=WAYLAND_DISPLAY=wayland-1
EnvironmentFile=/etc/environment
ExecStartPre=/bin/sh -c 'for i in $(seq 1 60); do [ -S /run/user/1000/wayland-1 ] && exit 0 || sleep 1; done; exit 1'
ExecStart=/bin/sh -c '/usr/bin/ti-apps-launcher'

# The user to run Weston as.
User=root
Group=root

# Fail to start if not controlling the tty.
StandardOutput=journal
StandardError=journal

[Install]
# Note: If you only want weston to start on-demand, remove this line with a
# service drop file
WantedBy=graphical.target multi-user.target
