# This is a system unit for launching ti-lvgl-demo.

[Unit]
Description=ti-lvgl-demo service

# Make sure we are started after logins are permitted.
After=multi-user.target

[Service]
Type=simple
# Keep polling for HDMI connection for 30 secs.
# Fail if no HDMI found. HDMI hotplug is handled by the udev rule.
ExecStartPre=/bin/sh -c 'for i in $(seq 1 30); do grep -q "^connected$" /sys/class/drm/card*/status 2>/dev/null && exit 0; sleep 1; done; exit 1'
ExecStart=/bin/sh -c '/usr/bin/lvglsim'

# Fail to start if not controlling the tty.
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=graphical.target
